# Content Delivery API (Settings → API keys → Content delivery / preview token)
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=

# Opcional
CONTENTFUL_ENVIRONMENT=master
# Content type ID en Contentful (Content model → API Identifier)
CONTENTFUL_TESTIMONIAL_CONTENT_TYPE=testimonios
# Locale del contenido (debe existir en el space)
CONTENTFUL_LOCALE=en-US

PORT=8080

CONTENTFUL_SPACE_ID=n4kd4mh9p756
CONTENTFUL_ACCESS_TOKEN=lpPRmIXEoY-s3QHq58iAuCOhmeFds6iR9-uDaqAtVOw
CONTENTFUL_ENVIRONMENT=master